input {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 20px;
    padding-left: 10px;
}

label {
    font-size: 10px;
}

input[type=submit] {
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color:white;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-top: 20px;
  }

input[type=submit]:hover {
    border-color: #646cff;
}

.cancelButton {
    width: 60%;
    height: 50px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
    background-color: #AAAAAA;
    color:white;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-top: 20px;
    margin-bottom: 50px;
}

.cancelButton:hover {
  border: 2px solid #646cff;
}