.postSection {
    border: 1px solid #64B668;
    background-color: #efefef;
    border-radius: 30px;
    padding: 15px;
    margin-top: 4%;
    width: 800px;
}

.commentSection {
    background-color: #bfbfbf;
    padding: 5px;  
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 2%;
}

.commentInput {
    border-radius: 5px;
    height: 25%;
    width: 95%;
    font-size: 15px;
}

ul li {
    text-align:left;
    list-style: "- ";
}

ul {
    margin: auto;
    padding-left: 3%;
}

.upvote-icon {
    width: 20px;
    height: 20px;
    padding-right: 7px;
    padding-bottom: 9px;
    transition: transform .2s;
}

.upvote-icon:hover {
    transform: scale(1.5);
}

.likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}