.ReadPosts {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.searchBar {
    border: 3px solid black;
    margin-top: 50px;
    width:600px;
}

.sort {
    margin:5px;
    margin-bottom:0px;
    background-color: #64B668;
    padding: 5px;
}